*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: adventureTime;
    src: url(adventureTime.ttf);
}

@font-face{
    font-family: Caribbean;
    src: url(caribbean.ttf);
}

h1{
    font-family: Caribbean;
    font-size: 2rem;
}

h2{
    font-family: adventureTime;
    font-size: 2rem;
}

section{
    border: solid black 2px;
}